.login__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.4375rem;
}

.login__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.35rem 0 0.75rem;
}
