.reset-password__form {
  display: flex;
  flex-direction: column;
  gap: 1.09375rem;
  margin-top: 2.84375rem;
}

.reset-password__hint {
  min-height: 2.4rem;
  margin-top: 0.25rem;
  margin-bottom: 2.9rem;
}
