.password-reset-success__illustration {
  width: 17.5rem;
  height: auto;
  margin-bottom: -0.3125rem;
}

.password-reset-success__highlight {
  color: var(--color-secondary-dark);
}

.password-reset-success__actions {
  width: 28.625rem;
  margin-top: 3.175rem;
}
